@import "var";
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	max-width: 1320px;
	margin: 0 auto;
	font-family: $font-kumbh;
}
button {
	//reset to default
	font-family: inherit;
	outline: none;
	border: none;
	background: none;
	letter-spacing: inherit;
	font-size: inherit;
	text-align: inherit;
}
li {
	list-style: none;
	a {
		text-decoration: none;
	}
}
