@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

//Colors
$primary200: hsl(26, 100%, 55%);
$primary100: hsl(25, 100%, 94%);

$neutral400: hsl(220, 13%, 13%);
$neutral300: hsl(219, 9%, 45%);
$neutral200: hsl(220, 14%, 75%);
$neutral100: hsl(223, 64%, 98%);
$neutral0: hsl(0, 0%, 100%);
//(with 75% opacity for lightbox background)
$neutral500: hsl(0, 0%, 0%);

//Font
$fnormal: 400;
$fbold: 700;
$fsize: 16px;
$font-kumbh: "Kumbh Sans", sans-serif;

//Mixin
$md: 48em;
$lg: 64em;
$xl: 90em;

@mixin breakpoint($point) {
	@if $point == md {
		@media (min-width: $md) {
			@content;
		}
	}
	@if $point == maxmd {
		@media (max-width: $lg) {
			@content;
		}
	}
	@if $point == xl {
		@media (min-width: $xl) {
			@content;
		}
	}
	@if $point == lg {
		@media (min-width: $lg) {
			@content;
		}
	}
}

%arrow-left {
	cursor: pointer;
	display: flex;
	border-radius: 50%;
	height: 50px;
	max-height: 100%;
	max-width: 100%;
	width: 50px;
	left: 0.7rem;
	z-index: 8;

	background-color: $neutral0;
	position: absolute;
	align-self: center;
	box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
	img {
		margin: 0 auto;
		padding: 1rem;
	}
	&:hover > img {
		filter: invert(59%) sepia(79%) saturate(2523%) hue-rotate(346deg)
			brightness(100%) contrast(102%);
	}
}

%arrow-right {
	display: flex;
	cursor: pointer;
	border-radius: 50%;
	height: 50px;
	max-height: 100%;
	max-width: 100%;
	width: 50px;
	right: 0.7rem;
	background-color: $neutral0;
	position: absolute;
	z-index: 8;
	align-self: center;
	box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
	img {
		margin: 0 auto;
		padding: 1rem;
	}
	&:hover > img {
		filter: invert(59%) sepia(79%) saturate(2523%) hue-rotate(346deg)
			brightness(100%) contrast(102%);
	}
}
