@import "../styles/var";
.main {
	min-width: 100%;
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5rem;
	&__images {
		max-width: 100%;
		max-height: 100%;
		margin: 3rem;
		.currentImg {
			img {
				cursor: pointer;
				width: 100%;
				border-radius: 1rem;
				box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.218);
			}
		}
		.otherImg {
			margin-top: 1.5rem;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1.5rem;
			img {
				cursor: pointer;
				width: 100%;
				border-radius: 1rem;
				border: 5px solid $neutral0;
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	&__desc {
		margin: auto 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;
		span {
			color: $primary200;
			text-transform: uppercase;
			font-weight: $fbold;
			font-size: 0.9rem;
			letter-spacing: 0.5px;
			margin: 0.8rem 0;
		}
		h1 {
			font-size: 2.5rem;
		}
		p {
			margin: 1.5rem 0;
			color: $neutral300;
			line-height: 1.5rem;
		}
		.prices {
			&__new {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1rem;
				h2 {
					font-size: 1.7rem;
				}
				span {
					background-color: $primary100;
					padding: 2px 5px;
					text-align: center;
					border-radius: 0.3rem;
				}
			}
			p {
				text-decoration: line-through;
				font-weight: $fbold;
				margin: 0;
				opacity: 0.5;
			}
		}
		.buy {
			display: flex;
			flex-direction: row;
			width: 100%;
			align-items: center;
			gap: 1rem;
			margin: 2rem 0;
			.quan {
				box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.086);
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
				background-color: $neutral100;
				border-radius: 1rem;
				max-height: 3.2rem;
				width: 100%;
				max-width: 10rem;

				p {
					font-weight: $fbold;
					color: $neutral400;
				}

				img {
					cursor: pointer;
					&:hover {
						opacity: 0.5;
					}
				}
			}
			.cartAdd {
				background-color: $primary200;
				border-radius: 1rem;
				color: $neutral0;
				font-weight: $fbold;
				min-height: 3.2rem;
				height: 100%;
				flex: 1;
				text-align: center;
				cursor: pointer;
				box-shadow: 0 0.5rem 1rem rgba($primary200, 0.5);
				img {
					margin-right: 0.7rem;
					width: 16px;
					height: 16px;
					filter: brightness(100);
				}
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
