@import "../styles/var";

%nav-side {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 1.2rem;
}
.black-bg {
	background: $neutral500;
	opacity: 75%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	@include breakpoint(md) {
		display: none;
	}
}
.header {
	max-height: 100%;
	width: 100%;
	background: $neutral0;
	@include breakpoint(md) {
		padding: 0 2rem;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.4rem;
		transition: 0.3s ease all;
		#menuIcon {
			cursor: pointer;
			&:hover {
				filter: brightness(0) saturate(100%);
			}
		}
		@include breakpoint(md) {
			border-bottom: 2px solid $neutral100;
			padding: 2rem 0;
			#menuIcon {
				display: none;
			}
		}
		&__left {
			@extend %nav-side;
			.nav {
				display: none;
				@include breakpoint(md) {
					display: flex;
					align-items: center;
					gap: 2rem;
					margin-left: 2rem;
					#exitIcon {
						display: none;
					}
					.item {
						transition: 0.3s all ease;
						text-decoration: none;
						position: relative;
						color: $neutral300;
						font-weight: $fnormal;
						&:hover {
							color: $neutral500;
							&::after {
								left: 0;
								bottom: calc(-2.5rem + -13.19px);
								content: "";
								position: absolute;
								height: 0.25rem;
								width: 100%;
								background: $primary200;
							}
						}
					}
				}
				&--open {
					background-color: $neutral0;
					display: flex;
					gap: 1.2rem;
					flex-direction: column;
					top: 0;
					left: 0;
					right: 100%;
					position: absolute;
					height: 100vh;
					width: 70vw;
					z-index: 2;
					padding: 1.6rem;
					@include breakpoint(md) {
						display: none;
					}
					#exitIcon {
						width: 1rem;
						cursor: pointer;
						margin-bottom: 2.5rem;
						transition: 0.3s ease all;
						&:hover {
							filter: brightness(0) saturate(100%);
							transform: scale(1.1);
						}
					}
					.item {
						transition: 0.3s ease all;
						text-decoration: none;
						color: $neutral500;
						font-weight: $fbold;
						font-size: 1.2rem;
						&:hover {
							transform: scale(0.96);
						}
					}
				}
			}
		}
		&__right {
			position: relative;
			@extend %nav-side;
			@include breakpoint(md) {
				gap: 1.7rem;
			}
			&::after {
				display: none;
				content: "3";
				text-align: center;
				font-size: 0.6rem;
				color: $neutral0;
				position: absolute;
				top: 4px;
				left: 8px;
				padding: 2px 8px;
				border-radius: 10px;
				background-color: $primary200;
			}
			#cart {
				margin: auto;
				cursor: pointer;
				&:hover {
					filter: brightness(0) saturate(100%);
				}
			}
			#profile {
				cursor: pointer;
				max-width: 1.5rem;
				aspect-ratio: 1/1;
				border: 2px solid transparent;
				border-radius: 50%;
				&:hover {
					border-color: $primary200;
				}
				@include breakpoint(md) {
					max-width: 2.7rem;
				}
			}
		}
	}
}
